server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://env-a-manager.***REMOVED***/loki/api/v1/push

scrape_configs:
  - job_name: containers
    relabel_configs:
      - source_labels: [ __address__ ]
        target_label: container_id
      - source_labels: [ container_id ]
        target_label: __path__
        replacement: /var/lib/docker/containers/$1*/*.log
    static_configs:
      - targets:
        - localhost
        labels:
          job: containers
          instance: '${HOSTNAME}'
          application: '${APPLICATION}'
          environment: '${ENVIRONMENT}'
          __path__: /var/lib/docker/containers/*/*log

    pipeline_stages:
      - json:
          expressions:
            output: log
            stream: stream
            attrs:
      - json:
          expressions:
            tag:
          source: attrs
      - regex:
          expression: (?P<image_name>(?:[^|]*[^|])).(?P<container_name>(?:[^|]*[^|])).(?P<image_id>(?:[^|]*[^|])).(?P<container_id>(?:[^|]*[^|]))
          source: tag
      - timestamp:
          format: RFC3339Nano
          source: time
      - labels:
          image_name:
          container_name:
      - output:
          source: output